body {
  margin: 0; 
  padding: 0;
  font-family:Arial, Helvetica, sans-serif;
}

/*MENU DE NAVEGACION*/

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #ffffff;
}
.navbar__brand {
  display: flex;
  align-items: center;
}

.navbar__logo {
  text-decoration: none;
  color: #fff;  
  margin: 0px 50px;
}

.navbar__logo img {
  width: 75px; 
  height: auto;
  margin-right: 10px;  
}

.navbar__menu {
  list-style: none;
  margin: 0px 50px;
  padding: 0;
  display: flex;
}

.navbar__item {
  margin-right: 50px; 
}

.navbar__link {
  text-decoration: none;
  color: #000000; 
  font-size: 1.2em;
}

/*.navbar__link--active {
  font-weight: bold; 
}*/

/*PRIMERA SECCION*/

.section_1 {
  position: relative;
  overflow: hidden;
  margin-top: 60px;
  height: 1000px;
}

.section__background {
  position: relative;
  background: url('fondo1.png'); 
  background-size: cover; 
  background-repeat: no-repeat; 
  height: 1000px; 
  display: flex;
  align-items: center;
  justify-content: center;
}

.section__content {
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: 20px;
  position: relative;
  z-index: 1;
}

.section__image-container,
.section__text-container {
  flex: 1;
  margin-right: 100px;
  text-align: center; 
}

.section__imagen {
  width: 990px;  
  height: auto;
}

.section_titilee {
  text-align: start;
  color: #434E5B;
  font-size: 90px;
  margin-bottom: 50px; 
}

.section_textt {
  text-align: start;
  color: #434E5B;
  font-size: 25px;
  margin-bottom: 50px; 
}

.section__button-container {
  text-align: start; 
}

.section_button {
  display: inline-block;
  padding: 15px 30px; 
  background-color: #F1C9C4; 
  color: #434E5B;
  text-decoration: none;
  font-weight: bold;
}

/*SEGUNDA SECCION*/

.section_2 {
  position: relative;
  overflow: hidden;
  height: 110vh;
  display: flex;
}

.section__background-1 {
  background: url('fondo_2.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  flex: 1;
  height: 100%;
  z-index: -1;
}

.contenido {
  padding: 20px;
  margin:100px;
  position: relative;
  z-index: 1;
  align-items: flex-start;
  margin-top: 300px; 
}

.section_titulo {
  font-size: 75px;
  color: #434E5B;
  margin-bottom: 50px;
}

.section_text {
  font-size: 25px;
  color: #434E5B;
  margin-bottom: 50px;
}

/*TERCERA SECCION*/

.section_3 {
  padding: 20px;
  background-color: #ffffff;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imagenes-centradas {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.imagen-contenedor_1,
.imagen-contenedor {
  text-align: center;
  width: 30%; 
  padding: 0 10px; 
}

.imagen-contenedor_1 {
  margin-top: 10px; 
}

.imagen-contenedor img {
  max-width: 100%;
  height: auto;
}

.imagen-contenedor h3 {
  margin: 10px 0;
  font-size: 1.5em;
  color: #434E5B;
  margin-top: -90px;
}

.imagen-contenedor__text {
  margin: 0;
  color: #434E5B;
}
.titulo  {
  margin: 10px 0;
  font-size: 1.5em;
  margin-top: -130px;
  color: #434E5B;
}

/*CUARTA SECCION*/

.section_4 {
  position: relative;
  overflow: hidden;
  height: 860px;
  margin-top: 90px;
}

.section__background-2 {
  background: url('fondo_4.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  flex: 1;
  height: 100%;
  z-index: -1;
}

.contenido_1 {
  position: relative;
  z-index: 1;
  text-align: center;
  padding: 20px;
  display: flex;
  align-items: center;
}

.section__background-img-sm {
  width: 930px;
  height: auto;
  margin-bottom: 150px; 
  margin-top: 100px;
}

.text-container {
  text-align: start; 
  margin-bottom: 20px; 
  margin-right: 250px;
  margin-left: 200px;
}

.section_titile {
  font-size: 4em;
  margin-bottom: 40px; 
  color: #434E5B;
}

.section_text {
  font-size: 1.1em;
  margin-bottom: 40px;
  color: #434E5B;
}

/*QUINTA SECCION*/


.section_5 {
  position: relative;
  height: 80vh; 
}

.section__background-3 {
  background: url('fondo_5.png') center/cover no-repeat;
  height: 100%; 
  display: flex;
  align-items: center;
  justify-content: center;
}

.contenido_2 {
  text-align: center;
}

.section_titi {
  text-align: start;
  color: #434E5B;
  font-size: 80px;
  margin-bottom: 50px;
  margin-left: 700px;
  margin-top: -50px;
}

.section_tex {
  text-align: start;
  color: #434E5B;
  font-size: 25px;
  margin-bottom: 50px; 
  margin-left: 700px;
}

.section_button-1 {
  display: inline-block;
  padding: 15px 30px; 
  background-color: #F1C9C4; 
  color: #434E5B;
  text-decoration: none;
  font-weight: bold;
  margin-left: 280px;
}

/*SEXTA SECCION*/

.section_6 {
  position: relative;
  overflow: hidden;
  height: 1200px;
}

.section__background-4 {
  background: url('fondo6.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  z-index: -1;
}

.content {
  padding: 50px;
  text-align: center;
  color: #fff;
}

h1 {
  margin-top: 100px;
  font-size: 60px;
  margin-bottom: 20px;
  color: #434E5B;
}

.B {
  font-size: 20px;
  margin-bottom: 30px;
  color: #434E5B;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 60px;
}

.card {
  display: inline-block;
  max-width: 485px;
  width: 100%;
  margin: 20px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease-in-out;
  text-align: center;
}

.card img {
  width: 100%;
  height: auto;
  margin-bottom: 20px; 
}

.card h3 {
  font-size: 2em; 
  margin-bottom: 10px;
  color: #434E5B;
}

.card p {
  font-size: 1.2em; 
  margin: 0;
  color: #434E5B;
  margin-bottom: 30px;
}

/*SEPTIMA SECCION*/

.section_7 {
  position: relative;
  overflow: hidden;
  height: 1000px;
  background-color: #F1C9C4;
  display: flex;
  align-items: center;
}

.contenido_3 {
  text-align: center;
  padding: 20px;
  color: #434E5B;
  display: flex;
  flex-direction: column; 
  align-items: center;
}

.contenido_3 img {
  width: 120%;
  height: auto;
  margin-left: 200px; 
}

.text-container {
  margin-bottom: 20px; 
}

.section_tit {
  font-size: 60px;
  margin-bottom: 50px;
  color: #434E5B;
}

.section_te {
  font-size: 20px;
  margin-bottom: 50px;
  color: #434E5B;
}

.social-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-right: 340px;
  gap: 20px;
}

/*OCTAVA SECCION*/

.section_8 {
  position: relative;
  overflow: hidden;
  height: 1200px;
}

.section__background-5 {
  background: url('fondo8.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  z-index: -1;
}

.contenido_4 {
  text-align: center;
  padding: 20px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.inner-content {
  max-width: 800px;
}

.section_title {
  font-size: 60px;
  margin-bottom: 50px;
  color: #434E5B;
  margin-top: -50px;
}

.section_text {
  font-size: 20px;
  margin-bottom: 50px;
  color: #434E5B;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form input,
form textarea {
  width: 100%;
  padding: 15px; 
  margin-bottom: 40px; 
  background-color: #EFEFEF;
  border: 1px solid #BABABA;
}

.section_button-2 {
  display: inline-block;
  padding: 15px 30px;
  background-color: #F1C9C4;
  color: #434E5B;
  text-decoration: none;
  font-weight: bold;
  margin-top: 20px; 
}

/*ULTIMA SECCION*/

.footer {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #434E5B;
  position: relative;
  overflow: hidden;
  height: 500px;
  color: #ffffff;
  align-items: center;
}

.footer-column {
  flex: 1;
  margin-left: 200px;
}

.footer-column h3, h4, p  {
  margin-bottom: 0; /
}

.footer img {
  max-width: 100%;
  height: auto;
  margin-top: 20px; 
}

.social-buttons {
  display: flex;
  justify-content: center; 
  margin-top: 10px; 
}

.social-buttons img {
  max-width: 40px;
  height: auto;
}

h3, h4, p {
  color: #ffffff;
}

h2 {
  font-size: 18px;
  margin-top: -25px;
  font-weight: bold;
}

h3 {
  font-size: 13px;
  font-weight: bold;
}

p {
  font-size: 13px;
}